In [51]:
import pandas as pd
import panel as pn
import hvplot.pandas
from datetime import datetime as dt

pn.extension(comms='ipywidgets')
pn.extension()

## Data Preprocessing

In [52]:
data = pd.read_csv('covid_19_indonesia_time_series_all.csv')

In [53]:
pd.set_option('display.max_columns', None)

In [54]:
data[(data['Location'] == 'DKI Jakarta')]['Total Cases'].max()

1412511

In [55]:
data.tail()

,Date,Location ISO Code,Location,New Cases,New Deaths,New Recovered,New Active Cases,Total Cases,Total Deaths,Total Recovered,Total Active Cases,Location Level,City or Regency,Province,Country,Continent,Island,Time Zone,Special Status,Total Regencies,Total Cities,Total Districts,Total Urban Villages,Total Rural Villages,Area (km2),Population,Population Density,Longitude,Latitude,New Cases per Million,Total Cases per Million,New Deaths per Million,Total Deaths per Million,Total Deaths per 100rb,Case Fatality Rate,Case Recovered Rate,Growth Factor of New Cases,Growth Factor of New Deaths
31817,9/15/2022,ID-SA,Sulawesi Utara,37,0,0,37,52770,1213,50997,560,Province,NaN,Sulawesi Utara,Indonesia,Asia,Sulawesi,UTC+08:00,NaN,11,4.0,171,332.0,1507.0,13892,2641884,190.17,124.521240,1.259638,14.01,19974.38,0.0,459.14,45.91,2.30%,96.64%,2.85,1.00
31818,9/15/2022,ID-SB,Sumatera Barat,13,0,3,10,104640,2371,102066,203,Province,NaN,Sumatera Barat,Indonesia,Asia,Sumatera,UTC+07:00,NaN,12,7.0,179,230.0,928.0,42013,5519245,131.37,100.465062,-0.850253,2.36,18959.11,0.0,429.59,42.96,2.27%,97.54%,6.50,1.00
31819,9/15/2022,ID-SS,Sumatera Selatan,16,0,1,15,82198,3376,78510,312,Province,NaN,Sumatera Selatan,Indonesia,Asia,Sumatera,UTC+07:00,NaN,13,4.0,241,387.0,2853.0,91592,8217551,89.72,104.169465,-3.216212,1.95,10002.74,0.0,410.83,41.08,4.11%,95.51%,3.20,1.00
31820,9/15/2022,ID-SU,Sumatera Utara,50,0,5,45,158866,3288,154924,654,Province,NaN,Sumatera Utara,Indonesia,Asia,Sumatera,UTC+07:00,NaN,25,8.0,450,693.0,5417.0,72981,14874889,203.82,99.051964,2.191894,3.36,10680.15,0.0,221.04,22.10,2.07%,97.52%,1.92,1.00
31821,9/16/2022,IDN,Indonesia,2358,27,2997,-666,6405044,157876,6218708,28460,Country,NaN,NaN,Indonesia,Asia,NaN,NaN,NaN,416,98.0,7230,8488.0,74953.0,1916907,265185520,138.34,113.921327,-0.789275,8.89,24153.07,0.1,595.34,59.53,2.46%,97.09%,0.89,1.29

In [56]:
data['Date'] = pd.to_datetime(data['Date'])

In [57]:
# remove %

def remove_pct(value):
    if type(value) == str and '%' in value:
        return value.replace('%', '')
    else:
        return value

In [58]:
data['Case Fatality Rate'] = data['Case Fatality Rate'].apply(remove_pct)
data['Case Recovered Rate'] = data['Case Recovered Rate'].apply(remove_pct)

In [59]:
data['Case Fatality Rate'] = data['Case Fatality Rate'].astype(float)
data['Case Recovered Rate'] = data['Case Recovered Rate'].astype(float)

In [60]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31822 entries, 0 to 31821
Data columns (total 38 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Date                         31822 non-null  datetime64[ns]
 1   Location ISO Code            31822 non-null  object
 2   Location                     31822 non-null  object
 3   New Cases                    31822 non-null  int64
 4   New Deaths                   31822 non-null  int64
 5   New Recovered                31822 non-null  int64
 6   New Active Cases             31822 non-null  int64
 7   Total Cases                  31822 non-null  int64
 8   Total Deaths                 31822 non-null  int64
 9   Total Recovered              31822 non-null  int64
 10  Total Active Cases           31822 non-null  int64
 11  Location Level               31822 non-null  object
 12  City or Regency              0 non-null      float64
 13  Province                     30893 non-null  object
 14  Country                      31822 non-null  object
 15  Continent                    31822 non-null  object
 16  Island                       30893 non-null  object
 17  Time Zone                    30893 non-null  object
 18  Special Status               4558 non-null   object
 19  Total Regencies              31822 non-null  int64
 20  Total Cities                 30921 non-null  float64
 21  Total Districts              31822 non-null  int64
 22  Total Urban Villages         30918 non-null  float64
 23  Total Rural Villages         30893 non-null  float64
 24  Area (km2)                   31822 non-null  int64
 25  Population                   31822 non-null  int64
 26  Population Density           31822 non-null  float64
 27  Longitude                    31822 non-null  float64
 28  Latitude                     31822 non-null  float64
 29  New Cases per Million        31822 non-null  float64
 30  Total Cases per Million      31822 non-null  float64
 31  New Deaths per Million       31822 non-null  float64
 32  Total Deaths per Million     31822 non-null  float64
 33  Total Deaths per 100rb       31822 non-null  float64
 34  Case Fatality Rate           31822 non-null  float64
 35  Case Recovered Rate          31822 non-null  float64
 36  Growth Factor of New Cases   29883 non-null  float64
 37  Growth Factor of New Deaths  28375 non-null  float64
dtypes: datetime64[ns](1), float64(16), int64(12), object(9)
memory usage: 9.2+ MB

In [61]:
data.isna().sum()

Date                               0
Location ISO Code                  0
Location                           0
New Cases                          0
New Deaths                         0
New Recovered                      0
New Active Cases                   0
Total Cases                        0
Total Deaths                       0
Total Recovered                    0
Total Active Cases                 0
Location Level                     0
City or Regency                31822
Province                         929
Country                            0
Continent                          0
Island                           929
Time Zone                        929
Special Status                 27264
Total Regencies                    0
Total Cities                     901
Total Districts                    0
Total Urban Villages             904
Total Rural Villages             929
Area (km2)                         0
Population                         0
Population Density                 0
Longitude                          0
Latitude                           0
New Cases per Million              0
Total Cases per Million            0
New Deaths per Million             0
Total Deaths per Million           0
Total Deaths per 100rb             0
Case Fatality Rate                 0
Case Recovered Rate                0
Growth Factor of New Cases      1939
Growth Factor of New Deaths     3447
dtype: int64

In [62]:
len(data['Location'].unique())

35

In [63]:
data['Location'].unique()

array(['DKI Jakarta', 'Indonesia', 'Riau', 'Jawa Barat', 'Banten',
       'Jawa Tengah', 'Sulawesi Tenggara', 'Bali', 'Kalimantan Timur',
       'Daerah Istimewa Yogyakarta', 'Sumatera Utara', 'Jawa Timur',
       'Kepulauan Riau', 'Sulawesi Selatan', 'Jambi', 'Maluku', 'Papua',
       'Maluku Utara', 'Sumatera Selatan', 'Aceh', 'Kalimantan Tengah',
       'Lampung', 'Sulawesi Tengah', 'Sulawesi Utara', 'Sumatera Barat',
       'Papua Barat', 'Kalimantan Utara', 'Sulawesi Barat',
       'Kalimantan Barat', 'Kalimantan Selatan',
       'Kepulauan Bangka Belitung', 'Bengkulu', 'Nusa Tenggara Barat',
       'Nusa Tenggara Timur', 'Gorontalo'], dtype=object)

In [64]:
covidIndonesia = data[data['Location'] == "Indonesia"].reset_index(drop=True)

In [65]:
covidIndonesia_province = data[data['Location'] != "Indonesia"].reset_index(drop=True)

In [66]:
covidIndonesia.head()

,Date,Location ISO Code,Location,New Cases,New Deaths,New Recovered,New Active Cases,Total Cases,Total Deaths,Total Recovered,Total Active Cases,Location Level,City or Regency,Province,Country,Continent,Island,Time Zone,Special Status,Total Regencies,Total Cities,Total Districts,Total Urban Villages,Total Rural Villages,Area (km2),Population,Population Density,Longitude,Latitude,New Cases per Million,Total Cases per Million,New Deaths per Million,Total Deaths per Million,Total Deaths per 100rb,Case Fatality Rate,Case Recovered Rate,Growth Factor of New Cases,Growth Factor of New Deaths
0,2020-03-02,IDN,Indonesia,2,0,0,2,2,0,0,2,Country,NaN,NaN,Indonesia,Asia,NaN,NaN,NaN,416,98.0,7230,8488.0,74953.0,1916907,265185520,138.34,113.921327,-0.789275,0.01,0.01,0.0,0.0,0.0,0.0,0.0,NaN,NaN
1,2020-03-03,IDN,Indonesia,0,0,0,0,2,0,0,2,Country,NaN,NaN,Indonesia,Asia,NaN,NaN,NaN,416,98.0,7230,8488.0,74953.0,1916907,265185520,138.34,113.921327,-0.789275,0.00,0.01,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2,2020-03-04,IDN,Indonesia,0,0,0,0,2,0,0,2,Country,NaN,NaN,Indonesia,Asia,NaN,NaN,NaN,416,98.0,7230,8488.0,74953.0,1916907,265185520,138.34,113.921327,-0.789275,0.00,0.01,0.0,0.0,0.0,0.0,0.0,1.0,1.0
3,2020-03-05,IDN,Indonesia,0,0,0,0,2,0,0,2,Country,NaN,NaN,Indonesia,Asia,NaN,NaN,NaN,416,98.0,7230,8488.0,74953.0,1916907,265185520,138.34,113.921327,-0.789275,0.00,0.01,0.0,0.0,0.0,0.0,0.0,1.0,1.0
4,2020-03-06,IDN,Indonesia,2,0,0,2,4,0,0,4,Country,NaN,NaN,Indonesia,Asia,NaN,NaN,NaN,416,98.0,7230,8488.0,74953.0,1916907,265185520,138.34,113.921327,-0.789275,0.01,0.02,0.0,0.0,0.0,0.0,0.0,NaN,1.0

In [67]:
covidIndonesia.tail()

,Date,Location ISO Code,Location,New Cases,New Deaths,New Recovered,New Active Cases,Total Cases,Total Deaths,Total Recovered,Total Active Cases,Location Level,City or Regency,Province,Country,Continent,Island,Time Zone,Special Status,Total Regencies,Total Cities,Total Districts,Total Urban Villages,Total Rural Villages,Area (km2),Population,Population Density,Longitude,Latitude,New Cases per Million,Total Cases per Million,New Deaths per Million,Total Deaths per Million,Total Deaths per 100rb,Case Fatality Rate,Case Recovered Rate,Growth Factor of New Cases,Growth Factor of New Deaths
924,2022-09-12,IDN,Indonesia,1848,17,3465,-1634,6394340,157787,6204241,32312,Country,NaN,NaN,Indonesia,Asia,NaN,NaN,NaN,416,98.0,7230,8488.0,74953.0,1916907,265185520,138.34,113.921327,-0.789275,6.97,24112.70,0.06,595.01,59.50,2.47,97.03,0.95,1.31
925,2022-09-13,IDN,Indonesia,2896,20,3617,-741,6397236,157807,6207858,31571,Country,NaN,NaN,Indonesia,Asia,NaN,NaN,NaN,416,98.0,7230,8488.0,74953.0,1916907,265185520,138.34,113.921327,-0.789275,10.92,24123.62,0.08,595.08,59.51,2.47,97.04,1.57,1.18
926,2022-09-14,IDN,Indonesia,2799,21,3938,-1160,6400035,157828,6211796,30411,Country,NaN,NaN,Indonesia,Asia,NaN,NaN,NaN,416,98.0,7230,8488.0,74953.0,1916907,265185520,138.34,113.921327,-0.789275,10.55,24134.18,0.08,595.16,59.52,2.47,97.06,0.97,1.05
927,2022-09-15,IDN,Indonesia,2651,21,3915,-1285,6402686,157849,6215711,29126,Country,NaN,NaN,Indonesia,Asia,NaN,NaN,NaN,416,98.0,7230,8488.0,74953.0,1916907,265185520,138.34,113.921327,-0.789275,10.00,24144.18,0.08,595.24,59.52,2.47,97.08,0.95,1.00
928,2022-09-16,IDN,Indonesia,2358,27,2997,-666,6405044,157876,6218708,28460,Country,NaN,NaN,Indonesia,Asia,NaN,NaN,NaN,416,98.0,7230,8488.0,74953.0,1916907,265185520,138.34,113.921327,-0.789275,8.89,24153.07,0.10,595.34,59.53,2.46,97.09,0.89,1.29

In [68]:
covidIndonesia_province.head()

,Date,Location ISO Code,Location,New Cases,New Deaths,New Recovered,New Active Cases,Total Cases,Total Deaths,Total Recovered,Total Active Cases,Location Level,City or Regency,Province,Country,Continent,Island,Time Zone,Special Status,Total Regencies,Total Cities,Total Districts,Total Urban Villages,Total Rural Villages,Area (km2),Population,Population Density,Longitude,Latitude,New Cases per Million,Total Cases per Million,New Deaths per Million,Total Deaths per Million,Total Deaths per 100rb,Case Fatality Rate,Case Recovered Rate,Growth Factor of New Cases,Growth Factor of New Deaths
0,2020-03-01,ID-JK,DKI Jakarta,2,0,0,2,39,20,75,-56,Province,NaN,DKI Jakarta,Indonesia,Asia,Jawa,UTC+07:00,Daerah Khusus Ibu Kota,1,5.0,44,267.0,NaN,664,10846145,16334.31,106.836118,-6.204699,0.18,3.60,0.00,1.84,0.18,51.28,192.31,NaN,NaN
1,2020-03-02,ID-JK,DKI Jakarta,2,0,0,2,41,20,75,-54,Province,NaN,DKI Jakarta,Indonesia,Asia,Jawa,UTC+07:00,Daerah Khusus Ibu Kota,1,5.0,44,267.0,NaN,664,10846145,16334.31,106.836118,-6.204699,0.18,3.78,0.00,1.84,0.18,48.78,182.93,1.0,1.0
2,2020-03-02,ID-RI,Riau,1,0,0,1,1,0,1,0,Province,NaN,Riau,Indonesia,Asia,Sumatera,UTC+07:00,NaN,10,2.0,169,268.0,1591.0,87024,6074100,69.80,101.805109,0.511648,0.16,0.16,0.00,0.00,0.00,0.00,100.00,NaN,NaN
3,2020-03-03,ID-JK,DKI Jakarta,2,0,0,2,43,20,75,-52,Province,NaN,DKI Jakarta,Indonesia,Asia,Jawa,UTC+07:00,Daerah Khusus Ibu Kota,1,5.0,44,267.0,NaN,664,10846145,16334.31,106.836118,-6.204699,0.18,3.96,0.00,1.84,0.18,46.51,174.42,1.0,1.0
4,2020-03-03,ID-JB,Jawa Barat,1,1,0,0,1,1,60,-60,Province,NaN,Jawa Barat,Indonesia,Asia,Jawa,UTC+07:00,NaN,18,9.0,627,645.0,5312.0,35378,45161325,1276.55,107.603708,-6.920432,0.02,0.02,0.02,0.02,0.00,100.00,6000.00,NaN,NaN

In [69]:
covidIndonesia_province.tail()

,Date,Location ISO Code,Location,New Cases,New Deaths,New Recovered,New Active Cases,Total Cases,Total Deaths,Total Recovered,Total Active Cases,Location Level,City or Regency,Province,Country,Continent,Island,Time Zone,Special Status,Total Regencies,Total Cities,Total Districts,Total Urban Villages,Total Rural Villages,Area (km2),Population,Population Density,Longitude,Latitude,New Cases per Million,Total Cases per Million,New Deaths per Million,Total Deaths per Million,Total Deaths per 100rb,Case Fatality Rate,Case Recovered Rate,Growth Factor of New Cases,Growth Factor of New Deaths
30888,2022-09-15,ID-SG,Sulawesi Tenggara,2,0,0,2,25693,569,25090,34,Province,NaN,Sulawesi Tenggara,Indonesia,Asia,Sulawesi,UTC+08:00,NaN,15,2.0,219,377.0,1911.0,38068,2635461,69.23,122.070311,-4.124689,0.76,9748.96,0.0,215.90,21.59,2.21,97.65,NaN,1.0
30889,2022-09-15,ID-SA,Sulawesi Utara,37,0,0,37,52770,1213,50997,560,Province,NaN,Sulawesi Utara,Indonesia,Asia,Sulawesi,UTC+08:00,NaN,11,4.0,171,332.0,1507.0,13892,2641884,190.17,124.521240,1.259638,14.01,19974.38,0.0,459.14,45.91,2.30,96.64,2.85,1.0
30890,2022-09-15,ID-SB,Sumatera Barat,13,0,3,10,104640,2371,102066,203,Province,NaN,Sumatera Barat,Indonesia,Asia,Sumatera,UTC+07:00,NaN,12,7.0,179,230.0,928.0,42013,5519245,131.37,100.465062,-0.850253,2.36,18959.11,0.0,429.59,42.96,2.27,97.54,6.50,1.0
30891,2022-09-15,ID-SS,Sumatera Selatan,16,0,1,15,82198,3376,78510,312,Province,NaN,Sumatera Selatan,Indonesia,Asia,Sumatera,UTC+07:00,NaN,13,4.0,241,387.0,2853.0,91592,8217551,89.72,104.169465,-3.216212,1.95,10002.74,0.0,410.83,41.08,4.11,95.51,3.20,1.0
30892,2022-09-15,ID-SU,Sumatera Utara,50,0,5,45,158866,3288,154924,654,Province,NaN,Sumatera Utara,Indonesia,Asia,Sumatera,UTC+07:00,NaN,25,8.0,450,693.0,5417.0,72981,14874889,203.82,99.051964,2.191894,3.36,10680.15,0.0,221.04,22.10,2.07,97.52,1.92,1.0

## Make Interactive Pandas Dataframe

In [70]:
icovidIndonesia = covidIndonesia.interactive()
icovidIndonesia_province = covidIndonesia_province.interactive()

## Create Year Slider

In [71]:
low_date = data['Date'].min()
up_date = data['Date'].max()

print(low_date, up_date)

2020-03-01 00:00:00 2022-09-16 00:00:00

In [72]:
datetime_slider = pn.widgets.DateSlider(name = 'Datetime Slider', start = low_date, 
                                        end = up_date, value = up_date)

In [73]:
pn.ipywidget(datetime_slider)

BokehModel(combine_events=True, render_bundle={'docs_json': {'766690dc-8e41-4df2-b1c1-fb7c8587ebf6': {'defs':

In [74]:
pn.ipywidget(datetime_slider.value)

BokehModel(combine_events=True, render_bundle={'docs_json': {'32083fe1-a007-4853-ae8a-4ad6eb08cb63': {'defs':

## Create Select Box

In [75]:
list_province = list(covidIndonesia_province['Location'].sort_values().unique())

In [76]:
select_province = pn.widgets.Select(name = 'Select Province', options = list_province)

In [77]:
pn.ipywidget(select_province)

BokehModel(combine_events=True, render_bundle={'docs_json': {'27ed3ebe-04dd-4e3a-afc8-7531cd7a117f': {'defs':

In [78]:
pn.ipywidget(select_province.value)

BokehModel(combine_events=True, render_bundle={'docs_json': {'f5e781f8-a8c7-42ea-bf17-9df1a3a467b4': {'defs':

In [79]:
list_island = list(covidIndonesia_province['Island'].sort_values().unique())

In [80]:
select_island = pn.widgets.Select(name = 'Select Island', options = list_island)

In [81]:
pn.ipywidget(select_island)

BokehModel(combine_events=True, render_bundle={'docs_json': {'5c0ad14f-a3ba-4223-87e9-c5479c94dcc6': {'defs':

In [82]:
pn.ipywidget(select_island.value)

BokehModel(combine_events=True, render_bundle={'docs_json': {'681a8191-7f90-4a78-b709-b5d44dddd36e': {'defs':

## Covid in Indonesia Visualization by Date

In [83]:
covidIndonesia_pipeline = (icovidIndonesia[icovidIndonesia.Date <= datetime_slider]
                          .groupby('Date')[['Total Cases', 'Total Deaths', 'Total Recovered']].mean()
                          .reset_index())

In [84]:
# pn.ipywidget(covidIndonesia_pipeline)

In [85]:
covidId_info_plot = covidIndonesia_pipeline.hvplot(x = 'Date', y = ['Total Cases', 'Total Deaths', 'Total Recovered'],
                                                   yformatter = '%.0f', legend = 'top_left', width = 600, height = 400,
                                                   xlabel = 'Date', ylabel = 'Total', fontsize = {"xlabel": 15, "ylabel":15, 'legend': 10},
                                                   title = 'Covid 19 Information in Indonesia')


covidId_info_plot

BokehModel(combine_events=True, render_bundle={'docs_json': {'d7d10920-1360-4969-9997-641ea104f2c0': {'defs':

## Covid in Indonesia Visualiaztion by Date and Province

In [86]:
covidId_province_pipeline = (icovidIndonesia_province[(icovidIndonesia_province['Date'] <= datetime_slider) &
                                                      (icovidIndonesia_province['Location'] == select_province)]
                            .groupby(['Date', 'Location'])[['Total Cases', 'Total Deaths', 'Total Recovered']]
                            .mean()
                            .reset_index())

In [87]:
# pn.ipywidget(covidId_province_pipeline)

In [88]:
covidId_province_info = covidId_province_pipeline.hvplot(x = 'Date', y = ['Total Cases', 'Total Deaths', 'Total Recovered'],
                                                         yformatter = '%.0f', legend = 'top_left', width = 600, height = 400,
                                                         xlabel = 'Date', ylabel = 'Total', fontsize = {"xlabel": 15, "ylabel":15, 'legend': 10},
                                                         title = f'Covid 19 Information in Indonesia By Province')

covidId_province_info

BokehModel(combine_events=True, render_bundle={'docs_json': {'d248b5b0-e636-4fd3-9a7d-1baade73f307': {'defs':

## Covid in Indonesia Visualiaztion by Date and Island

In [89]:
covidId_island_pipeline = (icovidIndonesia_province[(icovidIndonesia_province['Date'] <= datetime_slider) &
                                                      (icovidIndonesia_province['Island'] == select_island)]
                            .groupby(['Date', 'Island'])[['Total Cases', 'Total Deaths', 'Total Recovered']]
                            .mean()
                            .reset_index())

In [90]:
# pn.ipywidget(covidId_island_pipeline)

In [91]:
covidId_island_info = covidId_province_pipeline.hvplot(x = 'Date', y = ['Total Cases', 'Total Deaths', 'Total Recovered'],
                                                       yformatter = '%.0f', legend = 'top_left', width = 600, height = 400,
                                                       xlabel = 'Date', ylabel = 'Total', fontsize = {"xlabel": 15, "ylabel":15, 'legend': 10},
                                                       title = f'Covid 19 Information in Indonesia By Island')

covidId_island_info

BokehModel(combine_events=True, render_bundle={'docs_json': {'a6b34ee4-9bcb-4134-940b-b9ef7d646100': {'defs':

## Covid 19 Information in Indonesia Per Year Data

In [92]:
covidIndonesia_year = covidIndonesia

In [93]:
covidIndonesia_year['Date'] = covidIndonesia_year['Date'].dt.year

In [97]:
covidIndonesia_year = covidIndonesia_year.groupby('Date')[['Total Cases', 'Total Deaths', 'Total Recovered']].max().reset_index()

covidIndonesia_year

   Date  Total Cases  Total Deaths  Total Recovered
0  2020       743198         22138           611097
1  2021      4262720        144094          4114334
2  2022      6405044        157876          6218708

## Covid 19 Information in Indonesia Per Year Data Visualization

In [98]:
covidId_Year_info = covidIndonesia_year.hvplot.bar(x = 'Date', y = ['Total Cases', 'Total Deaths', 'Total Recovered'],
                                            yformatter = '%.0f', width = 600, height = 400,
                                            xlabel = 'Date', ylabel = 'Total', 
                                            fontsize = {"xlabel": 15, "ylabel":15, 'xticks': 9, 'yticks': 9},
                                            title = f'Covid 19 Information in Indonesia By Island')

covidId_Year_info.opts(xrotation = 90)

pn.ipywidget(covidId_Year_info)

BokehModel(combine_events=True, render_bundle={'docs_json': {'d8118994-d234-4ac9-9acb-282d4a55030b': {'defs':

In [96]:
template = pn.template.FastListTemplate(
    title='Dashboard', 

    main=[pn.Row(pn.Column(covidId_info_plot))]
)

# template.show()
# template.servable()